.inspirationDetails--container {
    display:flex;
    justify-content: center;
    flex-direction: column;
    place-items: center;
}

.inspirationDetails--imageContainer {
    display:flex;
}

.inspirationDetails--context {
    padding:3%;
}

@media (min-width:1024px) {
    .inspirationDetails--imageContainer {
        max-width:50%;
    }
    .inspirationDetails--context {
        padding-inline:15%;
    }
    .inspirationDetails--context h3 {
        margin-bottom:3%;
    }
}