@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap');

:root {
    --dark: #222831;
    --grey: #393E46;
    --teal: #00ADB5;
    --space: #EEEEEE;

}

body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    min-width:380px;
    max-width:1800px;
    margin-inline:auto;
    font-family: 'Outfit', sans-serif;
}

.solidStar{
    max-width:15px;
    max-height:15px;
    margin-block:auto;
    margin-inline:2px;
}

.none {
    display:none;
}

.disabled-links {
    opacity: 0.5;
}

